$primary-color: #000000;
$secondary-color: #FFBB00;
$primary-button-light-color: #FFCF4B;
$primary-button-dark-color: #27AE60;
$secondary-button-light-color:#F9F9F9;
$secondary-button-dark-color:#CEC6C6;
$background-color: #ffffff;
$text-primary-color: #263238;
$text-secondary-color: #65624C;
$gray-gradient-one: #333333;
$gray-gradient-two: #4F4F4F;
$gray-gradient-three: #828282;
$gray-gradient-four: #B7B6B8;
$gray-gradient-five: #E0E0E0;
$text-light-color: #263238;
