@import './../../styles/main';
@import './../../styles/resizing'; 
  .our_spaces {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  
    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
  
  .space_list_container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
    align-self: center; 
  }
  
  .card {
    margin: var(--card-margin);
    width: 90%;
    font-size: var(--card-font-size);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
  
    .space_image {
        position: relative; 
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: -0.25rem;
        margin-right: -0.25rem;
        cursor: pointer;
    
        img {
            width: 100%;
            display: block;
            height: 190px;
            border-radius: 8px;
            cursor: pointer;
        }
    
        .space_name_container {
            position: absolute;
            top: 10px;
            left: 10px;
            background: linear-gradient(100.27deg, #263238 22.66%, #2F4B59 67.67%);
            color: $primary-button-light-color;
            padding-left: 0.25rem;
            padding-right: 0.25rem;
            border-radius: 5px;
            text-align: center;
            border: 0.5px solid transparent; 
            z-index: 10;
            display: flex;
            width: fit-content;
            flex-direction: row;
            gap: 3px;
            transition: opacity 0.3s ease; 
            p{
                
                font-family: $font-family-inter;
                font-size: 10px;
                font-weight: 500;
                line-height: 16.94px;
                letter-spacing: 2px;
                text-align: center;
            }
            img{
                width: 1rem;
                height: 1rem;
                align-self: center;
            }
        }
    }
    
    
    .address_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-left: 1rem;
      margin-right: 1rem;
      margin: 0 auto;
  
      .name_container {
        white-space: normal; 
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 auto;
        padding-top: 0.25rem;
        margin-right: 1rem;
        font-family: Inter;
        font-size: 20px;       
        font-weight: 600;
        line-height: 25px;
        text-align: left;

      }
      
      .location_container {
        border: 20px solid #0000;
        width: 3rem;
        height: 3rem;
        border: 1px solid #EEE7E7;
        border-radius: 5px;
        margin: 0 auto;
        display: flex;
        background-color: $gray-gradient-five;
        padding: 0.25rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            font-size: xx-small;
            color: $gray-gradient-three;
            font-family: Inter;
            font-size: 8px;
            width: 100%;
            line-break: normal;
            font-weight: 300;
            line-height: 9.68px;
            width: auto;
            text-align: center;
            width: 3rem;
        }
        
        img{
            width: 0.75rem;
            height: 0.75rem;
            
        }
      }
    }
  
    .card_content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .pricing {
        display: flex;
        flex-direction: row;
        gap: 0.55rem;
        .day_pass
        {    
            min-width: 8rem;
            max-width: 8rem;
            width: 8rem;
            height: fit-content;
            padding: 0.55rem;
            border: 0.5px solid $gray-gradient-five;
            background-color: $gray-gradient-five;
            border-radius: 10px;
            text-align: center;
            margin: 0 auto;
            text-align: left;
            height: 4rem;
            padding: 5px 10px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            outline: none;
            border-radius: 5px;
            border: none;
            box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;

            p{
                height: 0.25rem;
            }
           
        }
       
        .price_container{
            display: flex;
            flex-direction: row;
            height: 3rem;
            width: 30rem;
            gap: 0px;
            overflow: hidden;

            .price{
                width: 22%;
                font-size: 14px;
                height: fit-content;
                justify-self: flex-start;
            }
            .arrow_container{
                width: 0.75rem;
                display: flex;
                justify-self: flex-end;
                height: 0.55rem;
                gap: 0px;
                flex-direction: row;
                img{
                    height: 0.75rem;
                }
            }
    
        }
        .span_container{
            color: $gray-gradient-three;
            font-size: 10px;
            font-family: Inter;
            font-weight: 400;
        }
       
        .buy_pass:active {
            box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
        }

        .bulk_pass 
        {    
            min-width: 8rem;
            max-width: 8rem;
            width: 8rem;
            height: fit-content;
            padding: 0.55rem;
            border: 0.5px solid $primary-button-light-color;
            background-color: $primary-button-light-color;
            border-radius: 10px;
            text-align: center;
            margin: 0 auto;
            text-align: left;
            height: 4rem;
            padding: 5px 10px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            outline: none;
            border-radius: 5px;
            border: none;
            box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;

            p{
                height: 0.25rem;
            }
           
        }
        .discount_btn_container{
            position: absolute;
            z-index: 10;
            align-self: center;
            transform: translate(50%, -50%); 
            background-color: $primary-color;
            color: $background-color;
            font-size: 10px;
            font-weight: 100;
            border: 1px solid $primary-color;
            border-radius: 3px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
      }
    }
         
   
}

.space_image:hover {
  background: rgba(0, 0, 0, 0.8);
}
.space_image:hover img {
  opacity: 0.3;
}
@media screen and (min-width: $tablet) {
    .space_list_container{
      width: 95vw;
      max-width: 1170px;
      grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));

    }
}

@media screen and (min-width: $desktop) {
    .space_list_container{
      width: 95vw;
      max-width: 1170px;
      grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));

    }
}
  
  @media screen and (min-width: $large-desktop) {
    .space_list_container{
      grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));

    }
    .space_list_container p {
      width: 100%;
    }
  }
  
  